body {
    background-color: #729C34;
}
.page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1; /* above other elements */
}

.hide {
    display: none;
    z-index: -1; /* moves this behind others */
}


.success {
    animation-name: correct;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}
@keyframes correct {
    0% {
        background-color:  #729C34;
    }
    50% {
        background-color: rgb(153, 255, 0);
    }
    100% {
        background-color:  #729C34;
    }
}

.fail {
    animation-name: incorrect;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}
@keyframes incorrect {
    0% {
        background-color: #729C34;
    }
    50% {
        background-color: red;
    }
    100% {
        background-color: #729C34;
    }
}



#directionPlaces {
    transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -khtml-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    width: 15%;
    height: auto;
    position: absolute;
    top: 0; left: 0;
    display: inline-block;
    
    
    
}
#chest1 p {
    transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -khtml-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    
    padding-top: 15%;


    
   
      
}
#chest4 p {
    padding-bottom: 15%;
    text-align: right;
}
#chest3 p {
    transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -khtml-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    padding-bottom: 15%;
}
#numbers {
    transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -khtml-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    width: 15%;
    height: auto;
    position: absolute;
    bottom: 0%; left: 0;
    
    
}
#chest2 p {
    
    padding-top: 15%;
    text-align: right;

}

#draggableWord {
    text-align: center;
    position: relative;
    bottom: 50%;
    top: 35%;
    font-size: 200%;
}

#greetings {
    width: 15%;
    height: auto;
    position: absolute;
    top: 0;
    right: 0%;
}
#eatingOut {
    width: 15%;
    height: auto;
    position: absolute;
    bottom: 0%;
    right: 0%;
}
#gameExit {
    position: absolute;
    bottom: 0%;
    right: 50%;
    left: 50%;
}
#gamescoreDisplay {
    text-align: center;
}

#instructionsDiv {
    text-align: center;
}
#instructionsParagraph {
    padding-left: 30%;
    padding-right: 30%;
}
#settingsDiv {
    text-align: center;
}
#soundCheckbox {
    padding-bottom: 10%;
}
#highscoresDiv {
    text-align: center;
}
/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}